.header {
    height: 56px;
    width: 100%;
    background-color: #7ABD27;
    overflow: hidden;
}

.logo {
    float: left;
    display: block;
    height: 100%;
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    &_header {
        color: white;
        padding:  0px 0px 4px 10px;
        vertical-align: middle;
        display: inline-block;
    }
}

.menu {
    float: right;
    display: block;
    height: 56px;
    &_list {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        &-item {
            float: left;
            display: block;
            height: 100%;
            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
            &:hover {
                cursor: pointer;
                background-color: #45730B;
                transition: ease-in-out .2s;
            }
        }
        &-link {
            text-decoration: none;
            color: white;
            vertical-align: middle;
            display: inline-block;
            margin: 0px 10px;
        }
    }
}

main {
    margin: 10px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -56px;
}

.wrapper:after {
    content: '';
    display: block;
    height: 56px;
}

footer {
    background-color: rgba(10, 3, 7, 0.56);
    height: 56px;
}